.description{
    text-align:center;
}
.description p{
    color:black !important;
}
.littleImg{
    width:30px;
    height:30px;
}
.detailBadges p{
    color:black !important;
}
.detailBadges{
    
    margin: 0 auto;
    width:30%;
    margin-top:5%;
    border:1px solid black;
}
.rowBadges{
    width:100%;
    margin-left:5%;
}
.reduction{
    margin-left:40%;
}